/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #495057;
}

header {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.filters {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.filters select, .filters input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
    transition: border-color 0.3s;
}

.filters input:focus, .filters select:focus {
    border-color: #4CAF50;
    outline: none;
}

#country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.country-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 220px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.country-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.country-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

/* Estilos para detalhes do país */
.country-details {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.country-details img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .country-card {
        width: 90%;
    }
    #country-list {
        flex-direction: column;
        align-items: center;
    }
    .filters select, .filters input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }
    .filters {
        flex-direction: column;
    }
}